.page-content {
    padding-bottom: 10px !important;
}

.pagination .dt-paging-button.page-item .page-link {
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
}

.dt-scroll-body {
    height: 65vh !important;
    max-height: unset !important;
    background: none !important;
}

.modal-error-max-height {
    max-height: 200px !important;
    overflow-y: auto !important;
}